// Place all the styles related to the Images controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.awayFromTop {
    margin-top: 50px;
}

.white_background {
    color: white;
}

.black_text {
    color: black;
}