<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="jumbotron text-center">
                <h1>Image Repository</h1>

                <% if current_user %> 
                    # add image
                    <%= link_to "Sign Out", destroy_user_session_path, method: :delete, :class => "link" %>
                <% else %>
                    <%= link_to "Sign In", new_user_session_path, :class => "link"  %>
                    <%= link_to "Sign Up", new_user_registration_path, :class => "link"  %>
                <% end %>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <a href="#">
                <figure style="background-image: url('https://images.pexels.com/photos/1368382/pexels-photo-1368382.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');">
                    <div class="date"><span class="card-date-day">20</span><span class="card-date-month">APR</span></div>
                    <figcaption>
                        <h4> <span>The arsonist had oddly shaped feet</span></h4>
                        <p>The magic Indian is a mysterious spiritual force, and we're going to Cathedral Rock, and that's the vortex of the heart.</p>
                    </figcaption>
                </figure>
            </a>
        </div>
    </div>
</div>